<!DOCTYPE html>
<html>
  <head>
    <title>Thanks from the team at reboot.dev!</title>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      font-family: "DM Sans", sans-serif;
    }
  </style>
  <body>
    <h3>
      <a
        href="https://forms.gle/ETjgWVwfcrBncEDTA"
        style="text-decoration: none; color: #2376b5"
        >Please let us know if you have any feedback or would like to
        participate in our alpha!</a
      >
    </h3>
  </body>
</html>
