# Dependencies.
/node_modules
/package-lock.json

# Expo.
/.expo
/dist
/web-build
expo-env.d.ts

# Generated Reboot client code (produced by `rbt generate`).
/src/api/

# Native build outputs.
/ios
/android

# Misc.
.DS_Store
*.log
