# Directory created from using the 'rbt' CLI tool.
.rbt/

# Any virtualenv directories.
.*-venv/

node_modules/

dist/

# Generated code.
api/**/*.js
api/**/*.ts

# Zod schemas.
!api/bank/v1/bank.ts
!api/bank/v1/account.ts
