html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f6;
  text-align: center;
  font-family: Arial, sans-serif;
}

.header {
  margin-bottom: 20px;
}

.logo {
  width: 80%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.greeting {
  margin: 15px 0;
  font-size: 2.8rem;
  color: #333;
}

.documentation {
  margin: 15px 0;
  font-size: 2.3rem;
  color: #333;
}

a {
  color: #003366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #008282;
  color: white;
  padding: 30px 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 60px;
}

.footer {
  margin-top: 20px;
  font-size: 2rem;
  color: #666;
}

.message {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #333;
}

.informationText {
  font-size: 1rem;
  color: #666;
}
