{
  "compilerOptions": {
    "declaration": true,
    "moduleResolution": "node",
    "target": "es2020",
    "rootDir": ".",
    "outDir": "dist",
    "sourceMap": true
  },
  "exclude": ["web", "dist", "boilerplate"]
}
